.searchResultItem {
    border: 1px solid #bb8700;
    background-color: whitesmoke;
    padding: 10px;
}

.flBookTicketBtn {
    color: black;
    cursor: pointer;
    margin: 5px 20px;
    padding: 5px 10px;
    border: 1px solid #bb8700;
    text-align: center;
    background-color: #bb8700;
    color: white;
    width: 150px;
    margin: auto;
}